<%= form_for(team) do |f| %>
  <% if team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :player_1 %>
    <%= f.text_field :player_1 %>
  </div>

  <div class="field">
    <%= f.label :player_2 %>
    <%= f.text_field :player_2 %>
  </div>

  <div class="field">
    <%= f.label :player_3 %>
    <%= f.text_field :player_3 %>
  </div>

  <div class="field">
    <%= f.label :player_4 %>
    <%= f.text_field :player_4 %>
  </div>

  <div class="field">
    <%= f.label :player_5 %>
    <%= f.text_field :player_5 %>
  </div>

  <div class="field">
    <%= f.label :player_6 %>
    <%= f.text_field :player_6 %>
  </div>

  <div class="field">
    <%= f.label :player_7 %>
    <%= f.text_field :player_7 %>
  </div>

  <div class="field">
    <%= f.label :player_8 %>
    <%= f.text_field :player_8 %>
  </div>

  <div class="field">
    <%= f.label :player_9 %>
    <%= f.text_field :player_9 %>
  </div>

  <div class="field">
    <%= f.label :player_10 %>
    <%= f.text_field :player_10 %>
  </div>

  <div class="field">
    <%= f.label :player_11 %>
    <%= f.text_field :player_11 %>
  </div>

  <div class="field">
    <%= f.label :player_12 %>
    <%= f.text_field :player_12 %>
  </div>

  <div class="field">
    <%= f.label :player_13 %>
    <%= f.text_field :player_13 %>
  </div>

  <div class="field">
    <%= f.label :player_14 %>
    <%= f.text_field :player_14 %>
  </div>

  <div class="field">
    <%= f.label :player_15 %>
    <%= f.text_field :player_15 %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
