<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Player 1:</strong>
  <%= @team.player_1 %>
</p>

<p>
  <strong>Player 2:</strong>
  <%= @team.player_2 %>
</p>

<p>
  <strong>Player 3:</strong>
  <%= @team.player_3 %>
</p>

<p>
  <strong>Player 4:</strong>
  <%= @team.player_4 %>
</p>

<p>
  <strong>Player 5:</strong>
  <%= @team.player_5 %>
</p>

<p>
  <strong>Player 6:</strong>
  <%= @team.player_6 %>
</p>

<p>
  <strong>Player 7:</strong>
  <%= @team.player_7 %>
</p>

<p>
  <strong>Player 8:</strong>
  <%= @team.player_8 %>
</p>

<p>
  <strong>Player 9:</strong>
  <%= @team.player_9 %>
</p>

<p>
  <strong>Player 10:</strong>
  <%= @team.player_10 %>
</p>

<p>
  <strong>Player 11:</strong>
  <%= @team.player_11 %>
</p>

<p>
  <strong>Player 12:</strong>
  <%= @team.player_12 %>
</p>

<p>
  <strong>Player 13:</strong>
  <%= @team.player_13 %>
</p>

<p>
  <strong>Player 14:</strong>
  <%= @team.player_14 %>
</p>

<p>
  <strong>Player 15:</strong>
  <%= @team.player_15 %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
