<p id="notice"><%= notice %></p>

<h1>Players</h1>

<div class="row">
  <% @players.each do |player| %>
  <div class="col s12 m8 l8">
    <div class="card horizontal">
      <div class="card-image">
        <img height="220" width="150" src="<%= player.img %>">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h4><%= "#{player.first_name} #{player.last_name}" %></h4>
          <p><b>Position: </b><%= player.position_1 %></p>
        </div>
        <div class="card-action">
          <a href="/players/<%= player.id %>">View player</a>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>

<br>

<%= link_to 'New Player', new_player_path %>
