<p id="notice"><%= notice %></p>

<h3>Matches</h3>

<div class="row">
  <% @matches.each do |match| %>
  <% field = Field.find_by(id: match.field_id) %>
  <div class="col s12 m8 l8">
    <div class="card horizontal">
      <div class="card-image">
        <img class="responsive-img" src="<%= field.img %>">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h5><%= match.name %></h5>
          <p><%= "#{match.team_1} VS #{match.team_2}" %></p>
          <p><b>Date: </b><%= match.date %></p>
          <% if !(match.time.nil?) %>
            <p><b>Time: </b><%= match.time %></p>
          <% end %>
        </div>
        <div class="card-action">
          <a href="/matches/<%= match.id %>">View Match</a>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>

<%= link_to 'New Match', new_match_path %>
